.card-link {
  height: 340px;
  width: 30%;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.card-link:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.card-link-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(80%);
}

.card-link h3 {
  font-size: clamp(12px, 3vw, 18px);
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 10px;
  bottom: 0px;
  right: 90px;
  z-index: 20;
  opacity: 1;
}
