.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 180px;
  width: 100%;
  background-color: black;
}

.footer-paragraph {
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 650px) {
  .footer {
    display: flex;
    justify-content: center;
  }

  .footer-paragraph {
    font-size: 12px;
  }
}
