.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 25px;
  margin: 0 auto;
  padding: 50px;
  width: 83.5%;
}

@media screen and (max-width: 1240px) {
  .gallery {
    padding: 50px 35px;
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    background-color: white;
    padding: 20px;
    gap: 20px;
    width: auto;
  }
}
