header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
  height: 68px;
  max-width: 87%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 57px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  header {
    margin: 20px;
    max-width: 100%;
  }
  header img {
    height: 47px;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .navbar {
    height: 47px;
  }
  nav ul {
    align-items: center;
  }
  nav ul li {
    margin-right: 10px;
  }
}
