header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  max-width: 87%;
  margin: 40px auto 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 57px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}
